<h1>Listing inputs</h1>

<table class="table">
  <thead>
    <tr>
      <th>_id</th>
      <th>DateTime</th>
      <th>Type</th>
      <th>Sessionid</th>
      <th>Sessiondesc</th>
      <th>Sessioncond</th>
      <th>Isundo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inputs.each do |input| %>
      <tr>
        <td><%= input._id %></td>
        <td><%= input.dateTime %></td>
        <td><%= input.type %></td>
        <td><%= input.sessionId %></td>
        <td><%= input.sessionDesc %></td>
        <td><%= input.sessionCond %></td>
        <td><%= input.isUndo %></td>
        <td><%= link_to 'Show', input, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_input_path(input), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', input, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Input', new_input_path, class: 'btn btn-success' %>
