<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Ta name</th>
      <th>Course num</th>
      <th>days_of_week</th>
      <th>time_of_day</th>
      <th>semester</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @course.ta_name %></td>
      <td><%= @course.course_num %></td>
      <td><%= @course.days_of_week %></td>
      <td><%= @course.time_of_day %></td>
      <td><%= @course.semester %></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Encoded Sessions</th>
    </tr>
  </thead>

  <tbody>
    <% @available_dates.each do |date| %>
      <tr>
        <td><%= link_to "#{date}", input_course_path(@course, date_param: date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
