<p id="notice"><%= notice %></p>

<p>
  <strong>Ta name:</strong>
  <%= @course.ta_name %>
</p>

<p>
  <strong>Course num:</strong>
  <%= @course.course_num %>
</p>

<p>
  <strong>Date:</strong>
  <%= @course.date %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
