<!DOCTYPE html>

<html>
  <head>
    <title>Miniapp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="main-container" class="container">
      <div class="row">
        <div id= "sidebar" class="col-xs-3">
          <h3><%= link_to "2017", root_path %></h3>
          <h4><%= link_to "Human-Encoded Data", root_path %></h4>
          <br/><br/>
          <table class="table">
            <thead>
              <tr>
                <th>Courses</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @courses.each do |course| %>
                <tr>
                  <td><%= link_to "#{course.ta_name}", course, class: 'btn btn-info btn-xs' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        <div id="main-content" class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
